body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
}

#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  section {
    position: relative;
    min-height: 100vh;
    background-color: #f2f2f2;
    border-bottom: 4px solid white;
    padding: 80px 20px 0;
    h2 {
      color: darkcyan;

      span {
        transition: color 2s;
      }

      @media (max-width: 400px) {
        font-size: 25px;
        font-weight: 600;

        span {
          color: crimson;
        }
      }

      @media (min-width: 401px) and (max-width: 800px) {
        font-size: 50px;
        font-weight: 600;

        span {
          color: darkorange;
        }
      }

      @media (min-width: 801px) {
        font-size: 100px;
        font-weight: 600;
      }
    }

    button {
      position: absolute;
      background-color: black;
      color: #f2f2f2;

      width: calc(100% - 80px);
      max-width: 400px;
      height: 60px;

      margin: 40px;

      right: 0;
      bottom: 0;
    }
  }
}

//MARGIN PADDING -> NE HASZNÁLJUNK EM, REM MÉRTÉKEGYSÉGEKET! line-height-nél mehet;

footer {
  min-height: 400px;
}
